.message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-icon {
  border-radius: 100px;
  border-color: white;
  border: 1px solid white;
  padding: 5px;
}

.message-container {
  background-color: black;
  min-height: 100vh;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.social-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  margin-top: auto;
  padding: 15px 0;
  border-top: 1px solid #222;
}