.message-header{
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    align-items: center;
    /* padding: 20px; */
    
}

.search-icon{
 border-radius: 100px;
 border-color: white;
 border: 1px solid white;
 padding : 5px;

}

.message-container{
    background-color: black;
    height: 100vh;
    padding: 20px;
    color: white;
}